<div class="jumbotron">
  <h1 class="display-4">Welcome to the Digest Digest!</h1>
  <p class="lead">Here, you will find lots of information about your gut biome.</p>
  <hr class="my-4">
  <p>What are you thoughts?</p>
  <ul>
    <li>Didn't know that was a thing! - Start with our about page to get oriented. </li>
    <li>I love gut biomes, I have tons of opinions. - Check out our discussion boards. </li>
    <li>Really want to earn more about this. - Check out our posts to learn more.</li>
    <li>Need some products/recipes/inspiration. - Look above for relevant links</li>
  </ul>
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Create a new practice</a> -->
  <%= link_to "Read my personal blog", posts_path, class: "btn btn-primary btn-lg", role: "button" %>
  <%= link_to "See a delicious recipe", recipes_path, class: "btn btn-primary btn-lg", role: "button" %>
</div>
